* {
  margin: 0;
  padding: 0;
}
body{
  margin: 2rem;
}
.card-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid black;
  width: 30rem;
}

.container{
  border: 2px solid black;
  width: 30rem;
}

.credit-card{
  border-radius: 20px;
  width: 300px;
  height: 147px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.card-img{
  margin: 0;
  padding: 0;
  width: 100%;
  align-self: flex-start;
  text-align: end;
}

.drive-card{
  background-color: #455eb4;
  border-radius: 0.3rem;
  width: 40rem;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.drive-card-img{
  object-fit: cover;
  width:6rem;
  height:6rem;
  border-radius: 50%;
  margin: 2rem;
}
.drive-card-info{
  width: 15rem;
}